# Logs
logs
*.log

# Dependency directories
node_modules/

# Dependency file
package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env

# Nuxt.js build / generate output
dist
